.hero {
    display: block;
    height: calc(100vh - 13em);
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-position: center;
    .wrapper {
        text-align: center;
        margin: auto;
        width: 100%;
        max-width: 1080px;
        .overlay {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: white;
            text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
            letter-spacing: 1px;
            text-rendering: optimizeLegibility;
            letter-spacing: 0;
            word-spacing: 0.03em;
            font-weight: 500;
            line-height: 4em;
            padding-left: 40px;
            padding-right: 40px;
            .logo {
                display: inline-block;
                position: relative;
                top: 5%;
                @include transform(translateY(-5%));
            }
        }
        h1 {
            font-size: 4em;
            text-shadow: 2px 2px 7px rgba(0,0,0,0.5);
            color: white;
        }
    }
}
