.hero {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 70vh;
    }
    h1 {
        text-align: center;
        font-size: 1.25em;
    }
    button {
        margin: 1em;
    }
}
