<% wrap_layout :base do %>
    <div class="hero" style="background-image: url(<%= homes[0].fragments['image'].main.url %>)">
        <a href="/">
            <img class="inner-logo" src="<%= generals[0].fragments['nav-logo'].main.url %>">
        </a>
    </div>
    <header>
        <%= partial('header', :locals => current_page.data) %>
    </header>
    <%= yield %>
<% end %>
