.index {
    .content {
        * {
            text-align: left;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        .ads {
            text-align: center;
            .ad {
                display: inline-block;
            }
        }
    }
}
