.sponsors {
    $levels: (
        "platinum": #e5e4e2,
        "gold": #ffd700,
        "silver": #c0c0c0,
        "bronze": #cd7f32,
        "friends": #e6efc2,
        "kids": #9370db,
    ) !default;
    .level-links {
        text-align: center;
        a {
            margin: 1em;
            $level-font-size: 1em;
            @each $level, $color in $levels {
                &.#{$level} {
                    border-bottom: solid 5px $color;
                    font-size: $level-font-size;
                    /*border-radius: $level-font-size * 5;*/
                    color: darken($color, 60%);
                    display: inline-block;
                    line-height: 1;
                    padding: 0.4em 1.2em;
                    box-sizing: border-box;
                    border-top: solid 5px white;
                    &:hover {
                        border-top: solid 5px $color;
                    }
                }
            }
        }
    }
    h1 {
        text-align: center;
        margin-top: 1em;
        @each $level, $color in $levels {
            $level-font-size: .6em;
            a[name=#{$level}] {
                border-bottom: solid 5px $color;
                font-size: $level-font-size;
                /*border-radius: $level-font-size * 5;*/
                color: darken($color, 60%);
                display: inline-block;
                line-height: 1;
                padding: 0.4em 1.2em;
            }
        }
    }
    ul.sponsors-list {
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            display: inline-block;
            margin: 1em;
        }
        img {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
