---
title: Frequently Asked Questions
---

<div class="outer schedule">
    <h1><%= pagefaqs[0].fragments['title'].as_html(nil) %></h1>
    <%= pagefaqs[0].fragments['questions'].as_html(nil) %>
</div>
